body {
    background-color: #999999;
}

#background{
    background: chartreuse;
    align-content: center;
    width: 400px;
    height: 600px;
    margin: 50px auto;
   /* -webkit-animation: bgChange 8s 2s alternate infinite;
    transition: all 16s ease;*/
}

#result{
    display: block;
    font-family: Consolas;
    font-size: 20px;
    background: #262225;
    margin: 10px auto;
    text-align: right;
    border: none;
    overflow: hidden;
    color: white;
    position: relative;
    top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    letter-spacing: 4px;
}

.btn-style{
    border-style: none;
    background-color: #555555;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-family: Consolas;
    font-size: 16px;
    border-radius: 8px;
}
.rows{
    margin-bottom: 20px;
    position: relative;
    top: 25px;
    left: 25px;
}

.num{
    position: relative;
    left: 25px;
    padding: 12px 30px;
}

.opr{
    padding: 16px 32px;
    left: 25px;
    margin-left: 5px;
    position: relative;
    background-color: #cccccc;
}

.first{
    position: relative;
    left: -12px;
}

.r-op{
    position: relative;
    padding: 16px 44px;
}

.lr{
    padding: 16px 44px;
}

.bg-numbers{
    background-color: #b3d4fc;
    font-size: 20px;
}

.br{
    padding: 16px 44px;
}

.zero{
    padding: 16px 48px;
}

/*@-webkit-keyframes bgChange {

    0% {
        background: chartreuse;
    }
    25% {
        background: aqua;
    }
    50% {
        background: crimson;
    }
    75%{
        background: darkorange;
    }
    100%{
        background: deeppink;
    }
}*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.impaired{
    font-size: 30px;
    color: white;
    font-family: Consolas;
}
